{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static './aset/style.css'  %}">
    <script src="https://kit.fontawesome.com/eb49883e67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static './aset/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './aset/owl.theme.default.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>فروشگاه</title>
</head>
<body>
    <header>
        <div class="navi">
            <nav>
                
                <div >
                    <button class="btnn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"></i></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">فروشگاه اینترنتی دیجی کالا</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p><div class="optionss" style="direction: rtl;">
        <span class="option1">شگفت انگیز <i class="fa-solid fa-check"></i></span>
        <span class="option1">تخفیف <i class="fa-brands fa-discord"></i></span>
        <span class="option1">کارت هدیه <i class="fa-solid fa-user"></i></span>
        <span class="option1">سوپرمارکت <i class="fa-solid fa-cart-shopping"></i></span>
        <span class="option1">پرفروش ترین <i class="fa-solid fa-circle-info"></i></span>
    </div></p>
  </div>
</div>
                </div>
                <div class="left">
                    <div class="login">ورود / ثبت نام <i class="fa-solid fa-right-to-bracket"></i></div>
                    <div class="cart-btn"><i class="fa-solid fa-cart-arrow-down" style="color: black;"></i></div>
                </div>
                <div class="serch">
                    <input type="text" placeholder="جست و جو ... "><i class="fa-solid fa-magnifying-glass"></i>
                </div>
    
                <div class="right">
                    
                       
                  <img src="{% static './img/dilogo.svg' %}" alt="">
                </div>
               
            </nav>
            <div class="options">
                <span class="option1">شگفت انگیز <i class="fa-solid fa-check"></i></span>
                <span class="option1">تخفیف <i class="fa-brands fa-discord"></i></span>
                <span class="option1">کارت هدیه <i class="fa-solid fa-user"></i></span>
                <span class="option1">سوپرمارکت <i class="fa-solid fa-cart-shopping"></i></span>
                <span class="option1">پرفروش ترین <i class="fa-solid fa-circle-info"></i></span>
            </div>
        </div>
       
       
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-left: 80px; margin-top: 120px;">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="1800">
                    <img src="{% static './img/1.webp' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1800">
                    <img src="{% static './img/65.webp' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1800">
                    <img src="{% static './img/66.webp' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
        </section>
    </header>
    <main>
        <section class="owle">
            <div class="she">
                <div class="titler">پیشنهاد شگفت انگیز</div>
                <div class="counter" style="font-size: 20px; margin-top: 15px; border: 1px solid white; border-radius: 10px; width: 30%; margin-right: 10px; direction: ltr; height: fit-content;">
                    <span id="hours">23</span>
                    :
                    <span id="minutes">18</span>
                    :
                    <span id="secondes">33</span></div>
                <div class="darsad">%</div>

            </div>
            <div class="owl-carousel owl-theme" style="margin-top: 80px;">
                <div class="card1" >
                    <div class="top">
                        <img src="{% static './img/p1.jpg' %}" alt="">
                        <div class="tex">کیبرد گیمینگ</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">800 هزار تومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید          <i class="fa-solid fa-cart-shopping"></i>  </div>
                            <div class="love">علاقه         <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                </div>
                <div class="card1">
                    <div class="badge">ویژه</div>
                    <div class="top">
                        <img src="{% static './img/121.webp' %}" alt="">
                        <div class="tex">موس پد ریک</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">800 هزار تومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید        <i class="fa-solid fa-cart-shopping"></i></div>
                            <div class="love">علاقه        <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                </div>
                <div class="card1">
                    <div class="top">
                        <img src="{% static './img/122.webp' %}" alt="">
                        <div class="tex">مانیتور کامل</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">800 هزار تومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید        <i class="fa-solid fa-cart-shopping"></i></div>
                            <div class="love">علاقه        <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                </div>
                <div class="card1">
                    <div class="top">
                        <img src="{% static './img/p2.jpg' %}" alt="" style="width: 82%;">
                        <div class="tex">پک کیبرد موس سفید</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">1 میلیون تومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید        <i class="fa-solid fa-cart-shopping"></i></div>
                            <div class="love">علاقه        <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                </div>
                
                <div class="card1">
                    <div class="badge">ویژه</div>
                    <div class="top">
                        <img src="{% static './img/124.webp' %}" alt="" style="width: 82%;">
                        <div class="tex">پک گیمینگ کامل</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">1 میلیون و 200 هزارتومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید        <i class="fa-solid fa-cart-shopping"></i></div>
                            <div class="love">علاقه        <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                </div>
                
                <div class="card1">
                    <div class="badge">ویژه</div>
                    <div class="top">
                        <img src="{% static './img/123.webp' %}" alt="" style="width: 82%;">
                        <div class="tex">پک گیکینگ با میز</div>
                        
                        
                    </div>
                    <div class="bottem">
                        <div class="price">2 میلیون تومان</div>
                        
                        <div class="logo">
                            <div class="buy">خرید        <i class="fa-solid fa-cart-shopping"></i></div>
                            <div class="love">علاقه        <i class="fa-solid fa-heart"></i></div>

                            
                        </div>
                    </div>

                    

            </div>
               
        </section>
        <div class="drag">
            <span><-------------------------></span>
            <span>به چپ و راست درگ کنید</span>
        </div>


        <section class="origi">
         
            <h3>دسته بندی ها</h3>
            <div class="orgnize">
                <div class="corner one" >
                    <img src="{% static './img/laptop.jpg' %}" alt="">
                    <span class="namee">لپ تاپ </span>
                    <div class="covere fis" >
                        <ul>
                            <li>برند ایسوز</li>
                            <li>برند اچ پی </li>
                            <li>برند اپل</li>
                            <li>برند لنوو</li>

                        </ul>
                    </div>
                </div>
                <div class="corner two">
                    <img src="{% static './img/camera.jpg' %}" alt="">
                    <span class="namee">دوربین</span>
                    <div class="covere sec" >
                        <ul>
                            <li>برند نیکون</li>
                            <li>برند گیگاسل</li>
                            <li>برند کامپوند</li>
                            <li>برند دیسلار</li>
                        </ul>
                    </div>
                </div>
                <div class="corner tree">
                    <img src="{% static './img/watch.jpg' %}" alt="">
                    <span class="namee">ساعت</span>
                    <div class="covere thi" >
                        <ul>
                            <li>برند رولکس</li>
                            <li>برند کاسیو</li>
                            <li>برند هوبلو</li>
                            <li>برند اپل</li>
                        </ul>
                    </div>
                </div>
                <div class="corner four" >
                    <img src="{% static './img/case.jpg' %}" alt="">
                    <span class="namee">کامپیوتر</span>
                    <div class="covere for" >
                        <ul>
                            <li>کیس گرین</li>
                            <li>کیس ال جی</li>
                            <li>کیس اچ پی</li>
                            <li>کیس میکرولب</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>




        <div class="container text-center" style="margin-top: 4em; margin-left: 8em;">
            <div class="row g-2 bigi">
              <div class="col-4">
                <div class="p-3 sir"><img src="{% static './img/a1.gif' %}" alt=""></div>
              </div>
              <div class="col-6">
                <div class="p-3"><img src="{% static './img/a2.webp' %}" alt=""></div>
              </div>
              <div class="col-4">
                <div class="p-3 sir"><img src="{% static './img/a3.gif' %}" alt=""></div>
              </div>
              <div class="col-6">
                <div class="p-3"><img src="{% static './img/a4.webp' %}" alt=""></div>
              </div>
            </div>
          </div>
          <div class="respo-pic">
            <div class=" sir"><img src="{% static './img/a1.gif' %}" alt=""></div>
            <div class=""><img src="{% static './img/a2.webp' %}" alt=""></div>
            <div class=" sir"><img src="{% static './img/a3.gif' %}" alt=""></div>
            <div class=""><img src="{% static './img/a4.webp' %}" alt=""></div>
          </div>

        <div class="box">
            <div class="badgeq">
                پیشنهاد ویژه
            </div>
         <div class="right-clo">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-share-nodes"></i>
            <i class="fa-regular fa-bell"></i>
            <i class="fa-solid fa-list"></i>
            <i class="fa-solid fa-bars-progress"></i>
         </div>
         <div class="picss"><img src="{% static './img/125.webp' %}" alt=""></div>
         <div class="main-col">
            <div class="top-dec" style="font-weight: bold; "><h3>کنسول بازی سونی مدل PlayStation 5 Slim ظرفیت یک ترابایت ریجن 2016A اروپا به همراه دسته اضافی و پایه شارژر</h3></div>
            <div class="down-dec">
                <div class="right-sot">
                    <h4>توضیحات</h4>
                    <p style="margin-top: 10px;">کنسول بازی سونی مدل PlayStation 5 Slim با ظرفیت یک ترابایت و ریجن 2016A اروپا یکی از جدیدترین و محبوب‌ترین محصولات سونی در بازار کنسول‌های بازی است. این کنسول به همراه یک دسته اضافی و پایه شارژر ارائه می‌شود که تجربه بازی را برای کاربران بهبود می‌بخشد. با طراحی زیبا و عملکرد قوی، کنسول بازی PlayStation 5 Slim انتخابی عالی برای علاقه‌مندان به بازی‌های ویدیویی است.  
                        <br>
                        دارای فناوری ارتباطی ، یک دسته ، یک ترابایت فضا

                    </p>
                    <div class="setare" style="display: flex; justify-content: space-around;">
                        <span  style="color: rgb(255, 169, 8);">4.3 امتیاز</span>
                        <span style="color: rgb(64, 138, 235); cursor: pointer;">203 دیدگاه</span>
                        <span  style="color: rgb(64, 138, 235); cursor: pointer;">119 پرسش</span>

                    </div>
                </div>
                <div class="left-sot" style="display: flex; flex-direction: column; align-items: center; ">
                    <div class="saler">
                       <div style="display: flex; justify-content: space-between;">
                        <span>فروشنده</span>
                        <span  style="color: rgb(64, 138, 235); cursor: pointer;">فروشنده های دیگر</span></div>
                        <div style=" color: gray;">انالوگ<i class="fa-regular fa-house"></i></div>
                        <div style="display: flex; justify-content: space-between;">
                            <span style=" color: gray;">86 درصد رضایت استفاده</span>
                            <span  style="color: rgb(21, 226, 49);">عملکرد عالی</span>
                        </div>
                    </div>
                    <div class="cart">
                        <span><h4>تومان 37،950،000</h4></span>
                        <span><button class="btn btn-danger" style="margin-top: 8px;">افزودن به سبد خرید</button></span>
                    </div>
                    <div class="discr"><p>طلایی(LetMeRepair) (سرویس ویژه شکستگی و آبخوردگی و سرقت)</p></div>
                </div>
            </div>

         </div>
        </div>
    </main>
    <footer>
        <div class="contain">
            <div class="upper">
                <div class="explain">
                    مارا در شبکه های اجتماعی دنبال کنید
                    <div style="margin-top: 20px;">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
                <div class="falow">
                    <h6 style="font-size: 20px; font-weight: bold; ">درباره ی ما</h6>
                    <p> همچنین شما میتوانید با مراجعه به شبکه های اجتماعی  ان از محصولات جدید باخبر شوید.وبسایت خرید و فروش انواع لوازم کامپیوتری و دجیتال علل الخصوص گیکینگ و صنعت بازی مفتخر است که اعلام کنید انوع اقسام وسایل را دراین سایت تحت عنوان فروشگاه به اشتراک گذاشته و با قیمت های بسیارمناسب برای شما عزیزان عره میکند</p>
                </div>
            </div>
        </div>
            <div class="lower">
                کلیه ی حقوق محفوظ است 2019 ©
               
            </div>
           
    </footer>
    
    <script src="{% static './aset/jquery.min.js' %}"></script>
    <script src="{% static './aset/owl.carousel.js' %}"></script>
    <script src="{% static './aset/owl.carousel.min.js' %}"></script>
    <script>
         $(document).ready(function(){
  $(".owl-carousel").owlCarousel();
});

$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})

let time = 23000;


function settime(){
    if(time == 0) return;
    let h = Math.floor(time/3600);
    let m = Math.floor((time%3600)/60);
    let s = Math.floor(time%3600)%60;

    document.querySelector('#hours').innerHTML = h
    document.querySelector('#minutes').innerHTML = m
    document.querySelector('#secondes').innerHTML = s
}
setInterval(() => {
    time -=1
    
    settime()

}, 1000)

document.querySelector('.one').addEventListener('mouseenter',(e)=>{
    
    
    document.querySelector('.fis').style.transitionDuration='1s'
    document.querySelector('.fis').style.width='150px'
    document.querySelector('.fis').style.height='110px'
   
    


})
document.querySelector('.one').addEventListener('mouseleave',(e)=>{
    document.querySelector('.fis').style.width='10px'
    document.querySelector('.fis').style.height='10px'
    
    
   

})
document.querySelector('.two').addEventListener('mouseenter',(e)=>{
    
    
    document.querySelector('.sec').style.transitionDuration='1s'
    document.querySelector('.sec').style.width='150px'
    document.querySelector('.sec').style.height='110px'
   
    


})
document.querySelector('.two').addEventListener('mouseleave',(e)=>{
    document.querySelector('.sec').style.width='10px'
    document.querySelector('.sec').style.height='10px'
    
    
   

})
document.querySelector('.tree').addEventListener('mouseenter',(e)=>{
    
    
    document.querySelector('.thi').style.transitionDuration='1s'
    document.querySelector('.thi').style.width='150px'
    document.querySelector('.thi').style.height='110px'
   
    


})
document.querySelector('.tree').addEventListener('mouseleave',(e)=>{
    document.querySelector('.thi').style.width='10px'
    document.querySelector('.thi').style.height='10px'
    
    
   

})
document.querySelector('.four').addEventListener('mouseenter',(e)=>{
    
    
    document.querySelector('.for').style.transitionDuration='1s'
    document.querySelector('.for').style.width='150px'
    document.querySelector('.for').style.height='110px'
   
    


})
document.querySelector('.four').addEventListener('mouseleave',(e)=>{
    document.querySelector('.for').style.width='10px'
    document.querySelector('.for').style.height='10px'
    
    
   

})






document.querySelector('.one').addEventListener('mouseenter',(e)=>{
    document.querySelector('.fis').style.transitionDuration='1s'
    document.querySelector('.fis').style.opacity='1'
    document.querySelector('.fis').style.transform='translateX(-115px)'
})
document.querySelector('.one').addEventListener('mouseleave',(e)=>{
    document.querySelector('.fis').style.opacity='0'
    document.querySelector('.fis').style.transform='translateX(115px)'
   
})


document.querySelector('.two').addEventListener('mouseenter',(e)=>{
    document.querySelector('.sec').style.transitionDuration='1s'
    document.querySelector('.sec').style.opacity='1'
    document.querySelector('.sec').style.transform='translateX(115px)'
})
document.querySelector('.two').addEventListener('mouseleave',(e)=>{
    document.querySelector('.sec').style.opacity='0'
    document.querySelector('.sec').style.transform='translateX(-115px)'
   
})



document.querySelector('.tree').addEventListener('mouseenter',(e)=>{
    document.querySelector('.thi').style.transitionDuration='1s'
    document.querySelector('.thi').style.opacity='1'
    document.querySelector('.thi').style.transform='translateX(-115px)'
})
document.querySelector('.tree').addEventListener('mouseleave',(e)=>{
    document.querySelector('.thi').style.opacity='0'
    document.querySelector('.thi').style.transform='translateX(115px)'
   
})



document.querySelector('.four').addEventListener('mouseenter',(e)=>{
    document.querySelector('.for').style.transitionDuration='1s'
    document.querySelector('.for').style.opacity='1'
    document.querySelector('.for').style.transform='translateX(115px)'
})
document.querySelector('.four').addEventListener('mouseleave',(e)=>{
    document.querySelector('.for').style.opacity='0'
    document.querySelector('.for').style.transform='translateX(-115px)'
   
})
    </script>
</body>
</html>